body{
     background-color: #E4FBFF;
     margin: 0;
     text-align: center;
     font-family: 'Montserrat Alternates', serif;

     max-width: 100%;
     overflow-x: hidden;
}
h1{
  font-family: 'Grape Nuts', serif;
  font-size: 300%;
  margin: 0;
  color: #66BFBF;
}
h2{
  font-family: 'Montserrat Alternates', serif;
  color: #66BFBF;
  margin: 0;
}
.aa{
  margin-bottom: 0;
  position: relative;
  left: 100px;
}
h3{
  font-family: 'Montserrat Alternates', serif;
  color: #66BFBF;
}

div{
  background-color: #E4FBFF;

}
.skill-row{
  width: 50%;
  margin: 20px auto 50px auto;
  text-align: left;
  padding: 20px;

}
.profile{
  margin-top: 5px;
}

.top{
  position: relative;

}

.bottomcloud{
  position: absolute;

}

.topcloud{
  position: relative;
  left: 350px;
  bottom: 220px;
}
.mountain{
  padding: 20px;
}
.code{
  float: left;
  padding: 20px;
}
.music{
  float: right;
  margin: -1px;

}
.dot{
  border-color: grey;
  border-style: dotted none none;
  border-width: 5px;
  width: 5%;
  padding: 20px;
  margin: 50px auto;
}
.resourse{
  background-color: #B9F8D3;
  padding: 20px;}
.a1{
  display: inline;
  padding: 10px;

}
.intro{
  width: 30%;
  margin: auto;
  padding: 10px;
}
.a2{
  display: inline;
  padding: 10px;
}
.a2{
  display: inline;
  padding: 10px;
}
.btn{
  color: black;
  padding: 10px;
}
